.filters{
	width:100%;
	padding:10px;
}
.filters .add-group{
	display:none;
	width:200px;
	color:white;
	background-color: green;
	padding:2px;
}
.filter-group{
	display:inline-block;
}


.filter-group button{
	display:none;
	width:200px;
	color:white;
	padding:2px;
}
.filter-group .add-filter{	
	display:none;
	background-color: green;
}
.filter-group .remove-group{
	display:none;
	background-color: red;
}

.filter-group-input{
	display:inline-block;
}
.filter-group-input input{
	width:300px;
}
.filter-group-input .remove-filter{
	width:27px;
	background-color: red;
	color:white;
}