.filters{
	width:100%;
	padding:10px;
}
.filters .add-group{
	width:300px;
	color:white;
	background-color: green;
	padding:2px;
}
.filter-group{
	width:300px;
	margin:2px;
	display:inline-block;
	vertical-align: top;
}

.filter-group button{
	width:300px;
	color:white;
}
.filter-group .add-filter{
	background-color: green;
}
.filter-group .remove-group{
	background-color: red;
}

.filter-group-input{
	display:inline-block;

}
.filter-group-input input{
	width:300px;
	box-sizing:border-box;
}
.filter-group-input .remove-filter{
	width:27px;
	background-color: red;
	color:white;
}
