
.icon{
	padding:10px;
}
svg.icon-prev25,svg.icon-next25,svg.icon-prev,svg.icon-next{
	padding:0;
	height:20px;
	width:20px;
	display:inline-block;
}
svg.icon-prev25 use,svg.icon-next25 use,svg.icon-prev use,svg.icon-next use{
	fill:#ffffff;
	stroke:#ffffff;
}
svg.icon-prev:hover,svg.icon-next:hover svg.icon-prev25:hover,svg.icon-next25:hover{
	opacity: .7;
}
svg.icon-filter {
	width:30px;
	height:50px;
}
svg.icon-filter use {
	fill:none;
	stroke:#ffffff;
	stroke-width:12px;
}
svg.icon-filter use.selected{
	stroke:#000033;
}
.icon-filter:hover{
	opacity: .7;
}

svg.icon-and {
	width:50px;
	height:17.5px;
	display:inline-block;
}
svg.icon-or {
	width:35px;
	height:17.25px;
	display:inline-block;
}
svg.icon-or use, svg.icon-and use{
	color:#000000;
	stroke:#000000;
	fill:none;
	display:inline-block;
}
svg.icon-gears{
	width:30px;
	height:30px;
	display:inline-block;
	vertical-align:middle;
	padding:0 10px 0 10px;
}
svg.show-gears{
	
}
svg.hide-gears{
	display:none;
}