html,body{height: 100%;}
body, div { margin:0;  font: 15px arial, sans-serif;}
.top-container{
	background-color: #000033; 
	color:#dddddd;
}

table {border:none; border-spacing: 0;}
tr{padding-top: 7px;}
td,th{padding:5px 5px 0 5px;}
.page-row{

}
.page-num{
	background-color: #717171;
	color:#dddddd;
}
.page-line{

}
