.profile-load{
    
    /* transform: rotate(-90deg); */
    
    /* position: absolute; */
    /* transform-origin: 0 100%; */
    /* margin: 133px 0px 0px 30px; */
    /* width: 162px; */
    /* margin-top: 142px; */
    /* left: -97px;
    top: 142px;
    width: 226.59px; */
    
    /* -webkit-transform-origin: 0 100%; */
}
.aws-section-btn {
    border-radius: 0;
    border-color: grey;
    height: 30px;
    position:relavtive;
    padding: 0 10px;
}
.aws-section-button-container{
    position:absolute;
    top:0;
    right:0;
    /* left:0; */
}