.file-load-wrapper{
    margin:10% 5%;
    padding: 5%;
    border: 2px dashed #253d82;
    border-radius: 20px;
    height: 100%;
    max-height: 250px;
    opacity:0.6;
}

.file-load:before{
    content:'';
    display:inline-block;
    height:100%;
    vertical-align:middle;
    margin-right:-0.25em;
}
.file-load{
    height: 100%;
    color:#253d82;
    border: 2px solid #253d82;
    border-radius: 10px;
    vertical-align:middle;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    
    /*opacity:0.5;*/
}