<div class="filters" data-ng-show="filteCrtrl.view.visible">
	<div class="filter-group">
		<div class="filter-group-input"><svg-icon data-icon="icon-and"></svg-icon><input type="text"  /></div>
		<div class="filter-group-input"><svg-icon data-icon="icon-and"></svg-icon><input type="text"  /></div>
		
	</div>
	<svg-icon data-icon="icon-or"></svg-icon>
	<div class="filter-group">
		<div class="filter-group-input"><svg-icon data-icon="icon-and"></svg-icon><input type="text"  /></div>
		<div class="filter-group-input"><svg-icon data-icon="icon-and"></svg-icon><input type="text"  /></div>

	</div>
	<svg-icon data-icon="icon-or"></svg-icon>
</div> 
