<div class="pagination" ng-show="pageView.model">
	<svg class="icon icon-prev25" data-first>
		<use xlink:href="#icon-prev25"></use>
	</svg>
	<svg class="icon icon-prev" data-prev>
		<use xlink:href="#icon-prev"></use>
	</svg>
	<div class="paging-input">
		<input type="number" data-ng-model="pageView.model.currentPage" min="1" max="{{pageView.model.totalPages}}" size="{{pageView.model.totalPages.toString().length}}" maxlength="{{pageView.model.totalPages.toString().length}}"> of {{pageView.model.totalPages}}
	</div>
	<svg class="icon icon-next" data-next>
		<use xlink:href="#icon-next"></use>
	</svg>
	<svg class="icon icon-next25" data-last>
		<use xlink:href="#icon-next25"></use>
	</svg>
</div>
