<div class="pagination" ng-show="pageView.model">
	<svg class="icon icon-prev25" data-first>
		<use xlink:href="#icon-prev25"></use>
	</svg>
	<div class="slider">
		<input type="number" data-ng-model="pageView.model.currentPage" min="1" max="{{pageView.model.totalPages}}" size="{{pageView.model.totalPages.toString().length}}" maxlength="{{pageView.model.totalPages.toString().length}}"> of {{pageView.model.totalPages}}
	</div>
	<svg class="icon icon-next25" data-last>
		<use xlink:href="#icon-next25"></use>
	</svg>
</div>
